.stock-ticker {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    height: 40px;
    padding: 13px 0px 0px;
    margin: 1% 0%;
    overflow: hidden;
    white-space: nowrap;
}

.stock-ticker ul {
    list-style-type: none;
    display: flex;
    animation: ticker-scroll 15s linear infinite;
}

.stock-ticker li {
    margin-right: 20px;
    font-size: 1rem;
}

@keyframes ticker-scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}